


	<div class="middle">
		<div class="column">
			<div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
<!--Logo & Site Title-->
			<a class="branding-logo logo"></a>
			<p class="branding-title">Website Branding</p>
<!--Slider Start-->
			<div class="login-selection">
				<p id="login"></p> 
				<p id="register"></p>
				<div class="slide">
<!--Login Contents Start-->	
					<div class="scroll-hidden">
						<p class="input-identity">Login</p>
					<div class="input-field">
						<form action="/action_page.php">
							<p class="ani user"><input type="text" class="loger username" placeholder="Username" id="uname" name="uname" value="" autofocus="" autocomplete="off"></p>
							<p class="ani pass"><input type="text" class="loger password" placeholder="Password" id="pname" name="pname" value="" autofocus="" autocomplete="off"></p>
							<br>
							<p class="blu-b log-sub"><input type="submit" value="Login"></p>
						</form>
					</div>	
					</div>
<!--Login Contents End-->

<!--Register Contents Start-->
					<div class="scroll-hidden">
						<p class="input-identity">Register</p>
						
					<div class="input-field">
						<form action="/action_page.php needs-validation">
							<p class="ani first"><input type="text" class="loger first-name" placeholder="Name" id="fname" name="fname" value="" autofocus="" autocomplete="off"></p>
							<div class="invalid-feedback">
								Please write a valid name
							  </div>
							<p class="ani user"><input type="text" class="loger username" placeholder="Username" id="lname" name="lname" value="" autofocus="" autocomplete="off" ></p>
							<div class="invalid-feedback">
								should have atleast 6 characters
							  </div>
							<p class="reg"><input type="text" class="loger registernumber" placeholder="Register Number" id="ename" name="ename" value="" autofocus="" autocomplete="off" ></p>
							<div class="invalid-feedback">
								provide a valid Register number
							  </div>
							<p class="add"><textarea class="loger address" placeholder="Address" id="rpname" name="rpname" value="" autofocus="" autocomplete="off" ></textarea></p>
							<div class="invalid-feedback">
								Address is required
							  </div>
							<p class="dept"><input type="text" class="loger department" placeholder="Department" id="rpcname" name="rpcname" value="" autofocus="" autocomplete="off" ></p>
							<div class="invalid-feedback">
								Department is required
							  </div>
							<p class="sem"><input type="text" class="loger semester" placeholder="Semester" id="pnname" name="pnname" value="" autofocus="" autocomplete="off" ></p>
							<div class="invalid-feedback">
								Semester is required
							  </div>
							<div class="boad">		
									<select class="country" name="country" type="form-control">
									<option value="">Boarding Point</option>
								    <option value="Trivandrum">Trivandrum</option>
                                    <option value="Neyyattinkara">Neyyattinkara</option>
                                    <option value="Maranalloor">Maranalloor</option>
                                    <option value="Balaramapuram">Balaramapuram</option>
								</select>					
							</div>		
                            <p class="ani mail"><input type="text" class="loger email" placeholder="Email Id" id="ename" name="ename" value="" autofocus="" autocomplete="off"></p>	
							<div class="invalid-feedback">
                                provide a valid email-id
                              </div>				
                            <p class="ani pass"><input type="text" class="loger password" placeholder="Password" id="pname" name="pname" value="" autofocus="" autocomplete="off"   ></p>
							<div class="invalid-feedback">
								should have atleast 6 characters
							  </div>
							<p class="ani pass"><input type="text" class="loger password" placeholder="Conform Password" id="pname" name="pname" value="" autofocus="" autocomplete="off"  ></p>
							<div class="invalid-feedback">
								password is not matching
							  </div>
				<br>
							<p class="reg-b log-sub"><input type="submit" value="Register"></p>
				
						</form>
					</div>
					</div>

<!--Recover Contents End-->

<!--Help Contents Start-->
				
<!--Help Contents End-->
				</div>

<!--Slider Buttons-->
				<div class="sld-selector bsd">
					<a href="#login" class="selector-login">Login</a>
					<a href="#register" class="selector-register">Register</a>
				</div>
			</div>
			</div>
<!--Slider End-->

