<div class="card">
    <h4>Hello, Admin.</h4>
    <h5>I hope you are having a great day!</h5>
</div>
<div class="card1">
    <div class="img-container">
        <div class="skewed">
            <div id="img"></div>
        </div>
    </div>
    <div class="content">
        <h1>SHIBIN</h1>
        <p>ADMIN</p>

        </div>
    </div>

    
        <table>
            <thead>
                <tr>
                    <h2>Details</h2>
                    <hr/>
                </tr>
                <tr>
                    <th>Name:</th>
                    <td>Shibin</td>
                </tr>
                <tr>
                    <th>Username:</th>
                    <td>Shibin123</td>
                </tr>
                <tr>
                    <th>Password:</th>
                    <td>Shibin123</td>
                </tr>

         
            </thead>
        
        